# Crew Modules
crew_modules/

# Compiled Binaries
*.o
*.a
*.so
*.exe
*.out
app
app_c
app_cpp

# Python
__pycache__/
*.py[cod]

# Test Project Directories 
my-c-app/
my-cpp-app/
my-def-c/

# Local Dev Config 
# crew.json
